<div id="msg"></div>
<div id="speed"></div>
<div id="location"></div>

<div>Name: <input></input>
Price: <input value="0" type="number"></input></div></br>
<div>Comments: <input value:"text"></input><input type="submit"></input></div>