{{#each location}}
  <p class="location_name">{{name}}</p>
  <p class="location_address">{{address}}</p>
  <p class="location_price">{{price}}</p>
  <p><a id="back-to-locations" href="#">Back to Locations</a></p>
{{/each}}