{{#each score}}
  <p class="score_latency">{{latency}}</p>
  <p class="score_bandwidth">{{bandwidth}}</p>
  <p class="score_tested_at">{{tested_at}}</p>
  <p><a id="back-to-locations" href="#">Back to Locations</a></p>
{{/each}}